<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>

<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Pillogram | Login</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body class="login-page">

<div class="auth-box">

<div class="logo">
Pillogram
</div>

<p class="auth-subtitle">
أهلاً بعودتك 👋
<br>
سجل الدخول للمتابعة
</p>

<form method="POST">

<input
type="text"
name="username"
placeholder="اسم المستخدم"
required>

<input
type="password"
name="password"
placeholder="كلمة المرور"
required>

<button type="submit">
تسجيل الدخول
</button>

</form>

<div class="bottom-link">

ليس لديك حساب؟

<a href="/register">

إنشاء حساب

</a>

</div>

</div>

</body>

</html>